/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteiner {
  width: 80%;

  margin: 0 auto;
}

.card {
  border: 1px solid red;
  border-radius: 50px;
  background-color: bisque;
  width: 40%;
  display: inline-block;
  margin: 10px;
  padding: 20px;
}

.img {
  height: 200px;
}

* ul li {
  list-style-type: none;
}

#filter {
  margin: 10px;
}

.hidden {
  display: none;
}
